@page "/"
@inject HttpClient _client
@inject IJSRuntime js
@using Swaperoo_PE01_Grp9.Shared.Domain

<PageTitle>Index</PageTitle>
<head>
    <link href="css/landing.css" rel="stylesheet" />
</head>


<body>
    
    <div class="display">
        <div class="lady1"><img src="images/lady1.png" style="width: 400px;"></div>
        <div class="display_text">Do Your Part in Saving The World.<br>Buy Green.</div>
        <div class="lady2"><img src="images/lady2.png" style="width: 300px;"></div> 
    </div>

    <div class="Featured_grid">
        <div class="Featured">
            <div class="product_imgrow">
                <img class="product_img" src="images/rtx2080.jpeg"> 
            </div>
                
            <div class="product_info">
                <p class="product_name">rtx 2080</p>
                <p class="product_price">$400</p>
                <p class="region">East</p>
            </div>
        </div>

        <div class="Featured">
            <div class="product_imgrow">
                <img class="product_img" src="images/rtx2080.jpeg"> 
            </div>
                
            <div class="product_info">
                <p class="product_name">rtx 2080</p>
                <p class="product_price">$400</p>
                <p class="region">East</p>
            </div>
        </div>
        <div class="Featured">
            <div class="product_imgrow">
                <img class="product_img" src="images/rtx2080.jpeg"> 
            </div>
                
            <div class="product_info">
                <p class="product_name">rtx 2080</p>
                <p class="product_price">$400</p>
                <p class="region">East</p>
            </div>   
        </div>     
        <div class="Featured">
            <div class="product_imgrow">
                <img class="product_img" src="images/rtx2080.jpeg"> 
            </div>
                
            <div class="product_info">
                <p class="product_name">rtx 2080</p>
                <p class="product_price">$400</p>
                <p class="region">East</p>
            </div>   
        </div>           
    </div>
</body>
@code {
}