@page "/product/listed/{id:int}"
@inject HttpClient _client
@inject IJSRuntime js
@inject NavigationManager Navigation

<PageTitle>Product</PageTitle>
<head>
    <link href="css/landing.css" rel="stylesheet" />
</head>

<body>

</body>



@code {
    [Parameter] public int id { get; set; }
}
