@page "/Loggedin"
@inject NavigationManager Navigation

<PageTitle>Loggedin</PageTitle>

<body>
    <section class="Section1">
        <p class="headtext">USE "DISCOUNT20" FOR 20% OFF YOUR FIRST PURCHASE.</p>
        <button class="headbuttons" type="button">Sell on Swaperoo</button>
        <button class="headbuttons" type="button">Help & Services</button>
    </section>

    <section class="Section2">
        <button class="categorybutton"><img src="category.png" s height="50" alt="Your Image"></button>
        <button class="Swaperoo">Swaperoo</button>
        <input type="text" class="Search name=Search">
        <button type="button" class="SearchButton">Search</button>
        <p class="username">justin12409</p>
        <span class="dot"></span>
    </section>

    <section class="Section3">
        <img class="lady1" src="lady1.png" s height="400" alt="Your Image">
        <img class="lady2" src="lady2.png" s height="430" alt="Your Image">
        <p class="saveworld">Do Your Part in Saving The World.<br>Buy Green.</p>
    </section>

    <section class="Section4">
        <p class="Featuretext">Featured Listings</p>
        <div class="wrapper">
            <div class="div1"></div>
            <div class="div2"></div>
            <div class="div3"></div>
            <div class="div4"></div>
            <div class="div5"></div>
            <div class="div6"></div>
            <div class="div7"></div>
            <div class="div8"></div>
            <div class="div9"></div>
        </div>
    </section>
</body>
@code {

}
