@page "/abc"
@inject NavigationManager Navigation

<PageTitle>Main</PageTitle>

<head>
    <link href="css/landing.css" rel="stylesheet" />
</head>

<body>
    <div class="fixed">
        <div class="header">
            <div class="header_left">
            </div>
            <div class="header_center">
                Welcome to Swaperoo
            </div>
            <div class="header_right">
                <button class="header_buttons" type="button">Sell on Swaperoo</button>
                <button class="header_buttons" type="button">Help & Services</button>
            </div>
        </div>

        <div class="option">
            <div class="option_left">
                <img class="category_icon" src="images/category.png">
                <button class="Swaperoo">Swaperoo</button>
            </div>
            <div class="option_center">
                <input class="searchbar" type="text" placeholder="Search">
                <button class="SearchButton">Search</button>
            </div>
            <div class="option_right">
                <div class="displayname">
                    Justin12345
                </div>
                <div class="profilepic">
                    <img class="profile-picture" src="images/guy.jpeg" />
                </div>
            </div>
        </div>
    </div>

    <div class="display">
        <div class="lady1"><img src="images/lady1.png" style="width: 400px;"></div>
        <div class="display_text">Do Your Part in Saving The World.<br>Buy Green.</div>
        <div class="lady2"><img src="images/lady2.png" style="width: 300px;"></div>
    </div>

    <div class="Featured_grid">
        <div class="Featured">
            <div class="product_imgrow">
                <img class="product_img" src="images/rtx2080.jpeg">
            </div>

            <div class="product_info">
                <p class="product_name">rtx 2080</p>
                <p class="product_price">$400</p>
                <p class="region">East</p>
            </div>
        </div>

        <div class="Featured">
            <div class="product_imgrow">
                <img class="product_img" src="images/rtx2080.jpeg">
            </div>

            <div class="product_info">
                <p class="product_name">rtx 2080</p>
                <p class="product_price">$400</p>
                <p class="region">East</p>
            </div>
        </div>
        <div class="Featured">
            <div class="product_imgrow">
                <img class="product_img" src="images/rtx2080.jpeg">
            </div>

            <div class="product_info">
                <p class="product_name">rtx 2080</p>
                <p class="product_price">$400</p>
                <p class="region">East</p>
            </div>
        </div>
        <div class="Featured">
            <div class="product_imgrow">
                <img class="product_img" src="images/rtx2080.jpeg">
            </div>

            <div class="product_info">
                <p class="product_name">rtx 2080</p>
                <p class="product_price">$400</p>
                <p class="region">East</p>
            </div>
        </div>
    </div>
</body>
@code {

}
