@page "/Search"
@inject HttpClient _client
@inject IJSRuntime js
@using Swaperoo_PE01_Grp9.Shared.Domain

<PageTitle>Index</PageTitle>

<head>
    <link href="css/landing.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <form method="post" class="searchForm" @onsubmit="OnSearchSubmit">
        <input type="text" @bind="searchString" />
        <button type="submit">Search</button>
    </form>


    <div class="Featured_grid">
        @foreach (var product in products)
        {
            <div class="Featured">
                <div class="product_imgrow">
                    <img class="product_img" src="@product.imagepath">
                </div>

                <div class="product_info">
                    <p class="product_name">@product.Name</p>
                    <p class="product_price">$@product.price</p>
                </div>
            </div>
        }
    </div>
</body>


@code {
    private string searchString;
    private List<Product> products = new List<Product>();

    private async Task OnSearchSubmit()
    {
        products = await _db.Article.Where(x => x.Headline.Contains(searchString)).ToListAsync();
        StateHasChanged();
    }
}
