@page "/messages/create/"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject IJSRuntime JSRuntime
@layout NoMenuLayout

<h3 class="card-title">Create New Message</h3>
<hr />
<br />

<FormComponent ButtonText="Create Message" message="message" OnValidSubmit="@CreateMessage" />


@code {
    Message message = new Message();

    private IList<User>? Users;
    private IList<Chat>? Chats;

    protected async override Task OnInitializedAsync()
    {
        Users = await _client.GetFromJsonAsync<List<User>>($"{Endpoints.UsersEndpoint}");
        Chats = await _client.GetFromJsonAsync<List<Chat>>($"{Endpoints.ChatsEndpoint}");
    }

    private async Task CreateMessage()
    {
        try
        {
            await _client.PostAsJsonAsync(Endpoints.MessagesEndpoint, message);
            _navManager.NavigateTo("/messages/");
        }
        catch (Exception ex)
        {
            await JSRuntime.InvokeVoidAsync("alert", $"Error updating category: {ex.Message}");
        }
    }

}