@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Swaperoo</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleAdminMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@AdminMenuCssClass nav-scrollable" @onclick="ToggleAdminMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/profile" Match="NavLinkMatch.All">
                        <span class="oi oi-person" aria-hidden="true"></span> @context.User.Identity?.Name!
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="#" @onclick="BeginLogOut" Match="NavLinkMatch.All">
                        <span class="oi oi oi-account-logout" aria-hidden="true"></span> Log out
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Users
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="products">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Products
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="purchases">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Purchases
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="swaps">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Swaps
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categorys">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Categories
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="subcategorys">
                <span class="oi oi-arrow-circle-right" aria-hidden="true"></span> Sub-Categories
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chats">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Chats
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="messages">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Messages
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ratings">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Ratings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reports">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Reports
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseAdminMenu = true;

    private string? AdminMenuCssClass => collapseAdminMenu ? "collapse" : null;

    private void ToggleAdminMenu()
    {
        collapseAdminMenu = !collapseAdminMenu;
    }

    private void BeginLogOut(MouseEventArgs args)
    {
        Navigation.NavigateToLogout("authentication/logout", "/");
    }
}
