@inject NavigationManager Navigation
<div class="top-row ps-3 adminbar adminbar-dark">
    <div class="container-fluid">
        <a class="adminbar-brand" href="">Swaperoo</a>
        <button title="Navigation menu" class="adminbar-toggler" @onclick="ToggleAdminMenu">
            <span class="adminbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@AdminMenuCssClass admin-scrollable" @onclick="ToggleAdminMenu">
    <admin class="flex-column">
        <div class="admin-item px-3">
            <NavLink class="admin-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="admin-item px-3">
            <NavLink class="admin-link" href="users">
                <span class="oi oi-plus" aria-hidden="true"></span> Users
            </NavLink>
        </div>
        <div class="admin-item px-3">
            <NavLink class="admin-link" href="products">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Products
            </NavLink>
        </div>
        <div class="admin-item px-3">
            <NavLink class="admin-link" href="purchases">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Purchases
            </NavLink>
        </div>
        <div class="admin-item px-3">
            <NavLink class="admin-link" href="swaps">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Swaps
            </NavLink>
        </div>
        <div class="admin-item px-3">
            <NavLink class="admin-link" href="categorys">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Categories
            </NavLink>
        </div>
        <div class="admin-item px-3">
            <NavLink class="admin-link" href="subCategorys">
                <span class="oi oi-list-rich" aria-hidden="true"></span> SubCategories
            </NavLink>
        </div>
        <div class="admin-item px-3">
            <NavLink class="admin-link" href="ratings">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Ratings
            </NavLink>
        </div>
        <div class="admin-item px-3">
            <NavLink class="admin-link" href="reports">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Reports
            </NavLink>
        </div>
        <div class="admin-item px-3">
            <NavLink class="admin-link" href="chats">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Chats
            </NavLink>
        </div>
        <div class="admin-item px-3">
            <NavLink class="admin-link" href="messages">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Messages
            </NavLink>
        </div>

    </admin>
</div>
@code {
    private bool collapseAdminMenu = true;
    private string? AdminMenuCssClass => collapseAdminMenu ? "collapse" : null;
    private void ToggleAdminMenu()
    {
        collapseAdminMenu = !collapseAdminMenu;
    }
    private void BeginLogOut(MouseEventArgs args)
    {
        Navigation.NavigateToLogout("authentication/logout", "/");
    }
}

