@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">
    <div>
        <NavMenu />
    </div>
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>



