@inject NavigationManager Navigation

<div class="fixed">
    <div class="header">
        <div class="header_left">
        </div>
        <div class="header_center">
            Welcome to Swaperoo
        </div>
        <div class="header_right">
            <AuthorizeView>
                <NotAuthorized>
                    <button class="header_buttons" type="button" @onclick="GotoLogin">Sell on Swaperoo</button>
                    <button class="header_buttons" type="button" @onclick="GotoLogin">Help & Services</button>
                </NotAuthorized>
                <Authorized>
                    <button class="header_buttons" type="button" @onclick="GotoCreateListing">Sell on Swaperoo</button>
                    <button class="header_buttons" type="button">Help & Services</button>
                </Authorized>
            </AuthorizeView>
            
        </div>
    </div>

    <div class="option">
        <div class="option_left">
            <img class="category_icon" src="images/category.png">
            <button class="Swaperoo" @onclick="index">Swaperoo</button>
        </div>
        <div class="option_center">
            <form @onsubmit="SearchProduct" class="search_form">
                <input class="searchbar" type="text" placeholder="Search" bind="@searchTerm">
                <button class="SearchButton">Search</button>
            </form>
        </div>

        <div class="option_right">
            <AuthorizeView>
                <NotAuthorized>
                    <button class="LoginButton" @onclick="GotoLogin">Login</button>
                    <button class="RegisterButton" @onclick="GotoRegister">Register</button>
                </NotAuthorized>
                <Authorized>
                    <p class="user-name">@context.User.Identity.Name</p>
                    <div class="profile-picture-container">
                        <img class="profile-picture" src="images/guy.jpeg" />
                        <div class="option-box">
                            <div>
                                <button class="option_box_button">My Profile</button>
                            </div>
                            <div>
                                <button class="option_box_button">My Chats</button>
                            </div>
                           
                        </div>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>
    </div>
</div>

@code {
    public void GotoRegister()
    {
        Navigation.NavigateTo("authentication/register");
    }
    public void GotoLogin()
    {
        Navigation.NavigateToLogin("authentication/login");
    }
    public void GotoCreateListing()
    {
        Navigation.NavigateToLogin("/CreateListing");
    }
    public void index() { Navigation.NavigateToLogin("/"); }
    public void SearchProduct()
    {
        Navigation.NavigateToLogin("/Search");
    }
    private string searchTerm;

    private async Task SearchProducts()
    {
        // Redirect to the search results page with the search term
        Navigation.NavigateTo($"/Search/{Uri.EscapeDataString(searchTerm)}");
    }
}
