@page "/purchases/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject IJSRuntime JSRuntime
@layout NoMenuLayout

<h3>Edit Purchases</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditPurchases" purchase="purchase" />

@code {
    [Parameter] public int id { get; set; }
    Purchase? purchase = new Purchase();

    protected async override Task OnParametersSetAsync()
    {
        purchase = await _client.GetFromJsonAsync<Purchase>($"{Endpoints.PurchasesEndpoint}/{id}");
    }

    async Task EditPurchases()
    {
        if (string.IsNullOrWhiteSpace(purchase.Status))
        {
            await JSRuntime.InvokeVoidAsync("alert", "Please enter a purchase status.");
            return;
        }
        try
        {
            await _client.PutAsJsonAsync($"{Endpoints.PurchasesEndpoint}/{id}", purchase);
            _navManager.NavigateTo("/purchases/");
        }
        catch (Exception ex)
        {
            await JSRuntime.InvokeVoidAsync("alert", $"Error updating purchase: {ex.Message}");
        }
    }
}
