@page "/categorys/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject IJSRuntime JSRuntime
@layout NoMenuLayout

<h3>Edit Categorys</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditCategorys" category="category" />

@code {
    [Parameter] public int id { get; set; }
    Category? category = new Category();

    protected async override Task OnParametersSetAsync()
    {
        category = await _client.GetFromJsonAsync<Category>($"{Endpoints.CategorysEndpoint}/{id}");
    }

    async Task EditCategorys()
    {
        try
        {
            await _client.PutAsJsonAsync($"{Endpoints.CategorysEndpoint}/{id}", category);
            _navManager.NavigateTo("/categorys/");
        }
        catch (Exception ex)
        {
            await JSRuntime.InvokeVoidAsync("alert", $"Error updating category: {ex.Message}");
        }
    }
}
