@page "/ratings/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@implements IDisposable
@* @layout AdminMenuLayout *@

<h3 class="card-title">Ratings</h3>
<br />
<head>
    <link href="css/landing.css" rel="stylesheet" />
    <link href="css/Crud.css" rel="stylesheet" />
</head>


<a href="/ratings/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Ratings
</a>
<br />
<br />
@if (Ratings == null)
{
    <div class="alert alert-info">Loading Ratings....</div>
}
else
{
    <table class="table table-responsive" id="ratingsTable">
        <thead>
            <tr>
                <th>RatingId</th>
                <th>RatingValue</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rating in Ratings)
            {
                <tr>
                    <td>@rating.Id</td>
                    <td>@rating.RatingValue</td>
                    <td>@rating.DateCreated.Date.ToString("dd MMMM yyyy")</td>
                    <td>
                        <a href="/Ratings/view/@rating.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/Ratings/edit/@rating.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(rating.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<br />
@code {
    private List<Rating>? Ratings;

    protected async override Task OnInitializedAsync()
    {
        Ratings = await _client.GetFromJsonAsync<List<Rating>>($"{Endpoints.RatingsEndpoint}");
    }

    async Task Delete(int RatingId)
    {
        if (Ratings != null)
        {
            var Rating = Ratings.First(q => q.Id == RatingId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {Rating.Id}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.RatingsEndpoint}/{RatingId}");
                await OnInitializedAsync();
            }
        }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#ratingsTable");
    }

    public void Dispose()
    {
        js.InvokeVoidAsync("DataTablesDispose", "#ratingsTable");
    }
}

