@page "/subCategorys/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject IJSRuntime JSRuntime
@layout NoMenuLayout

<h3>Edit SubCategorys</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditSubCategorys" subCategory="subCategory" />

@code {
    [Parameter] public int id { get; set; }
    SubCategory? subCategory = new SubCategory();

    protected async override Task OnParametersSetAsync()
    {
        subCategory = await _client.GetFromJsonAsync<SubCategory>($"{Endpoints.SubCategorysEndpoint}/{id}");
    }

    async Task EditSubCategorys()
    {

        try
        {
            await _client.PutAsJsonAsync($"{Endpoints.SubCategorysEndpoint}/{id}", subCategory);
            _navManager.NavigateTo("/subCategorys/");
        }
        catch (Exception ex)
        {
            await JSRuntime.InvokeVoidAsync("alert", $"Error updating sub category: {ex.Message}");
        }
    }
}
