@page "/users/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject IJSRuntime JSRuntime
@layout NoMenuLayout

<h3>Edit Users</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditUsers" user="user" />

@code {
    [Parameter] public int id { get; set; }
    User? user = new User();

    protected async override Task OnParametersSetAsync()
    {
        user = await _client.GetFromJsonAsync<User>($"{Endpoints.UsersEndpoint}/{id}");
    }

    async Task EditUsers()
    {
        if (string.IsNullOrWhiteSpace(user.Name))
        {
            await JSRuntime.InvokeVoidAsync("alert", "Please enter a user name.");
            return;
        }
        if (string.IsNullOrWhiteSpace(user.Region))
        {
            await JSRuntime.InvokeVoidAsync("alert", "Please enter a user region.");
            return;
        }
        if (string.IsNullOrWhiteSpace(user.Email))
        {
            await JSRuntime.InvokeVoidAsync("alert", "Please enter a user email.");
            return;
        }
        if (string.IsNullOrWhiteSpace(user.Description))
        {
            await JSRuntime.InvokeVoidAsync("alert", "Please enter a user description.");
            return;
        }
        try
        {
            await _client.PutAsJsonAsync($"{Endpoints.UsersEndpoint}/{id}", user);
            _navManager.NavigateTo("/users/");
        }
        catch (Exception ex)
        {
            await JSRuntime.InvokeVoidAsync("alert", $"Error updating category: {ex.Message}");
        }
    }
}
