@page "/users/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@implements IDisposable

<h3 class="card-title">Users</h3>
<br />
<head>
    <link href="css/landing.css" rel="stylesheet" />
    <link href="css/Crud.css" rel="stylesheet" />
</head>


<a href="/users/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Users
</a>
<br />
<br />
@if (Users == null)
{
    <div class="alert alert-info">Loading Users....</div>
}
else
{
    <table class="table table-responsive" id="usersTable">
        <thead>
            <tr>
                <th>User Id</th>
                <th>User Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>
                        <a href="/Users/view/@user.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/Users/edit/@user.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(user.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<br />
@code {
    private List<User>? Users;

    protected async override Task OnInitializedAsync()
    {
        Users = await _client.GetFromJsonAsync<List<User>>($"{Endpoints.UsersEndpoint}");
    }

    async Task Delete(string UserId)
    {
        if (Users != null)
        {
            var User = Users.First(q => q.Id == UserId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {User.Id}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.UsersEndpoint}/{UserId}");
                await OnInitializedAsync();
            }
        }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#usersTable");
    }

    public void Dispose()
    {
        js.InvokeVoidAsync("DataTablesDispose", "#usersTable");
    }
}

