body{
    height: 100%;
}

.chatpage {
    display: flex;
}

.chatbar {
    flex: 1;
    max-width: 250px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: auto;
}
.chatbarcontent {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color: gray;
    align-items: center;
    justify-items: center;
    cursor: pointer;
}
    .chatbarcontent:hover {
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }
    .chatbarcontent:active {
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    }
.chatarea {
    flex: 1;
    height: 565px;
    flex-direction: column;
}

.productdisplaybar {
    display:flex;
    height: 50px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    align-items: center;    
    justify-content:space-around;
}

.productssold{
    text-align:center;
    font-size:30px;
}
.productdisplaybar_name {
    flex: 1;
    align-items: center;
    text-align: right;
}
.productdisplaybar_buttons {
    align-items: center;
    text-align: right;
    min-width: 160px;
}
.product_button {
    width: 70px;
}
.product_button:hover {
    opacity: 0.8;
}
.product_button:active {
    opacity: 0.5;
}

.chattextarea {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: auto;
    max-height: 510px;
}
.messagebox {
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    margin-bottom: 5px;
}
.othermessagebox {
    border-style: solid;
    border-color: pink;
    border-width: 1px;
    margin-bottom: 5px;
    text-align:end;
}
.messageboxName {
    display: block;
    margin-left:10px;
    margin-right:10px;
}
.messageboxContent {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

.messageinput {
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.messageinputcontent {
    display: flex;
    width: 100%;
}
.messageinputbar {
    flex: 3;
    margin-right: 10px;
}
.messageinputbartext{
    width:100%;
}

.messageinputbutton {
    flex: 1;
}
/*-----------------------------*/
.form-group{
    display:inline-block;

}

/*------POPUP---------*/
.popup {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 400px;
    padding: 20px 30px;
    background: grey;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
}


    .popup .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 15px;
        height: 15px;
        background: #888;
        color: #eee;
        text-align: center;
        line-height: 15px;
        border-radius: 15px;
        cursor: pointer;
    }

    .popup .form .h2 {
        text-align: center;
        color: #222;
        margin: 10px 0px 20px;
        font-size: 25px;
    }

    .popup .form .h3 {
        text-align: center;
        color: #222;
        margin: 10px 0px 20px;
        font-size: 20px;
    }

.productofferimage {
    height: 50px;
}

.sell-form-element {
    margin: 15px 0px;
}

    .sell-form-element label {
        font-size: 14px;
        color: #222;
    }

    .sell-form-element input[type="text"] {
        margin-top: 5px;
        display: block;
        width: 100%;
        padding: 10px;
        outline: none;
        border: 1px solid #aaa;
        border-radius: 5px;
    }

    .sell-form-element button {
        width: 100%;
        height: 40px;
        border: none;
        outline: none;
        font-size: 15px;
        background: #222;
        color: #f5f5f5;
        border-radius: 10px;
        cursor: pointer;
    }
