body {
    height:100%;
}

.profilearea{
    display:flex;
    flex-direction:column;
}
.profiletop {
    display: flex;
    height: 250px;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 60px;
    font-weight: bold;
    font-family: inter, Arial;
    justify-content: center;
    align-items: center;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,207,82,1) 100%);
}


.profileinformation {
    display:flex;
}
/*-------------------Left--------------------*/
.profileinformation-left {
    flex: 1;
    max-width: 150px;
    position: relative;
    margin-left: 50px;
    flex-direction: column; /* Change to column direction */
    align-items: center;
}
.image-container {
    position:relative;
    top:-50px;
    text-align:center;
}
.profilepic {
    height: 150px;
    border-radius: 50px;
}

.rating {
    position: relative;
    top: -50px;
    text-align:center;  
}

/*---------------------Center--------------------*/
.profileinformation-center {
    flex:1;
    margin-left: 70px;
    margin-top:20px;
}

/*---------------------Right--------------------*/

.profileoption {
    background-color: transparent;
    color: transparent;
    cursor: pointer;
    height: 50px;
}
    .profileoption:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .profileoption:active {
        opacity: 0.7;
    }


/*---------------------POPUP--------------------*/
.popup {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 400px;
    padding: 20px 30px;
    background: grey;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
}


.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup .form .h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.sell-form-element {
    margin: 15px 0px;
}

.sell-form-element label {
    font-size: 14px;
    color: #222;
}

.sell-form-element input[type="text"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}
    .sell-form-element input[type="email"] {
        margin-top: 5px;
        display: block;
        width: 100%;
        padding: 10px;
        outline: none;
        border: 1px solid #aaa;
        border-radius: 5px;
    }

    .sell-form-element textarea {
        margin-top: 5px;
        display: block;
        width: 100%;
        padding: 10px;
        outline: none;
        border: 1px solid #aaa;
        border-radius: 5px;
        resize: vertical; /* Allow vertical resizing */
        height: auto; /* Automatically adjust height based on content */
        max-height: 70px;
    }


.sell-form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}